@CHARSET "UTF-8";

root {
	display: block;
}

body {
	margin: 1px;
	background-color: #FFFFAE;
}

.main {
	font-family: Arial, Helvetica, sans-serif;
	width: 99%;
	display: block;
	margin: 0 auto 0 auto;
}

/*HEADER*/
#header {
	background-color: YellowGreen;
	width: 100%;
	height: 100px;
	border: 1px black solid;
}

#header .headerText {
	font-size: 18px;
	font-style: oblique;
	text-align: left;
	margin: 15px auto auto 15px;
}

/*BODY*/
#body {
	width: 100%;
}

#body .controlPanel {
	background-color: #FFFF3E;
	width: 100%;
	height: 50px;
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	border-right: 1px black solid;
	margin-bottom: 30px;
}

#body #functionPanelesBody {
	width: 100%;
	height: 100%;
}

#body #functionPaneles {
	width: 85%;
	margin: 7% auto 20px auto;
	padding-bottom: 15%;
}

#body .panel {
	background-color: #FFFF6F;
	width: 43%;
	border: 1px black solid;
	border-radius: 5px;
	position: inherit;
}

#body .leftPanel {
	float: left;
}

#body .leftPanel:HOVER {
	border: 2px black solid;
}

.item {
	width: 105%;
	height: 100px;
	position: static;
	margin: 0;
	border-radius: 5px;
}

.item:HOVER {
	border-radius: 5px;
	width: 103%;
	margin-left: 1%;
	border-right: 1px red solid;
}

.itemText {
	width: 95%;
	height: 99%;
	border-bottom border-top: 1px #D8D8C5 solid;
	margin-left: 1px;
	border-radius: 3px;
}

.itemText:HOVER {
	width: 95%;
	height: 99%;
	border-bottom border-top: 1px #D8D8C5 solid;
	margin-left: 1px;
	border-radius: 3px;
}

.itemRed {
	background: #FF6666;
}

.itemOrange {
	background: #FFA319;
}

.itemGreen {
	background: #70DB70;
}

.itemPurple {
	background: #83648F;
}

#body .rightPanel {
	float: right;
	margin-left: 5%;
	margin-top: 0;
}

#body .rightPanel:HOVER {
	border: 2px black solid;
}

#body .leftRight {
	width: 8%;
	height: 180px;
	position: fixed;
	margin-left: 38%;
}

#functionPaneles .toLeft {
	margin: 0 auto 0 auto;
	width: 70px;
	height: 70px;
	background-image: url("http://localhost:8080/ToDo/img/toLeft.png");
	background-size: contain;
}

#functionPaneles .toLeft:hover {
	margin-right: 25%
}

#functionPaneles .toLeft:active {
	margin-right: 35%
}

#functionPaneles .toRight {
	margin: 0 auto 40px auto;
	width: 70px;
	height: 70px;
	border-style: none;
	background-image: url("http://localhost:8080/ToDo/img/toRight.png");
	background-size: contain;
}

#functionPaneles .toRight:hover {
	margin-left: 25%;
}

#functionPaneles .toRight:active {
	margin-left: 35%;
}

/*FOOTER*/
#footer {
	width: 100%;
	height: 120px;
	background-color: #8BB92D;
	margin: auto auto 6px auto;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	clear: both;
}

.fText {
	color: #C0C0C0;
	font-style: italic;
	font-size: 18px;
	margin: auto auto 6px 10px;
}